option_settings:
  # HTTPS Listener Configuration
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:423669885238:certificate/05fe7761-0665-42c9-9101-bdc248530c65
    DefaultProcess: default

  # Keep HTTP listener for redirects
  aws:elbv2:listener:80:
    Protocol: HTTP
    DefaultProcess: default
